<h1>Cambiar su contrase単a:</h1>
<p>
	Por favor ingrese nueva contrase単a y presione "Actualizar"
</p>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<%= form_tag password_reset_path, :method => :put do %>
	<table>
		<tr>
			<th>Nueva contrase単a</th>
			<td><%= password_field_tag :password %></td>
		</tr>
		<tr>
			<th>Conformar contrase単a</th>
			<td><%= password_field_tag :password_confirmation %></td>
		</tr>
	</table>
	<p>
		<%= submit_tag 'Actualizar' %>
	</p>
<% end %>
