<h1>Blanquear contraseña:</h1>

<p>Por favor ingrese e-mail y presione "Blanquear".</p>

<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<%= form_tag password_reset_index_path do %>
	<%= text_field_tag :email, '', :size => '50' %>
	<%= submit_tag 'Blanquear' %>
<% end %>
<p>
	<%= link_to 'Cancelar', :root %>
</p>
