<%= content_for :new_user_session do %>
	<%= form_for(@user_session, :url => admin_user_session_url) do |f| %>
		<% if @user_session.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user_session.errors.count, "error") %> prohibited:</h2>
				<ul>
					<% @user_session.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<table>
			<tr>
				<td><%= f.label 'Usuario:' %></td>
				<td><%= f.label 'Contraseña:' %></td>
			</tr>
			<tr>
				<td><%= f.text_field :login %></td>
				<td><%= f.password_field :password %></td>
				<td><%= f.submit "Entrar" %></th>
			</tr>
			<tr>
				<td><%= link_to 'Regístrese', new_admin_profile_path, :title => 'Regístrese como nuevo usuario' %></td>
				<td><%= link_to '¿ Olvidó su contraseña ?', new_password_reset_path,
					:title => 'Registre una nueva contraseña' %></td>
			</tr>
		</table>
	<% end %>
<% end %>
